.machine {
  font-weight: 800;
}

.recharts-default-legend {
  display: flex;

  flex-direction: column;
  gap: 2px;

  font-size: 13px;
}

@media (max-width: 1024px) {
  .recharts-wrapper {
    width: 350px !important;
    height: 250px !important;
  }

  .recharts-legend-wrapper {
    width: 100% !important;

    padding-top: 40px;
    padding-right: 20px !important;
  }

  .recharts-default-legend {
    font-size: 12px;
  }
}
