.mainPage {
  display: flex;
  flex-direction: column;

  padding: 40px 0px;
  gap: 40px;

  align-items: center;

  .datePicker {
    display: flex;

    gap: 30px;

    align-items: center;
    justify-content: center;

    border-bottom: var(--border-color) dashed;
    padding-bottom: 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .machines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 50px;

    @media (max-width: 1500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
}
