.periodPicker {
  width: 280px;
  height: 45px;

  padding: 5px;

  font-size: 26px;

  border: none;
  outline: none;
  border-radius: 8px;  

  background-color: var(--border-color);
  color: var(--text-color);
}